mat-toolbar {
  background: #044289;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #073c78;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  flex: 1;
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  padding: 16px;
  overflow: auto;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
    color: white;
  }
}

span {
  color: white;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 14px;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
  .content {
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
}
