.page-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .page-not-found-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 4rem;
      font-weight: bold;
      margin-right: 0.5rem;
    }

    .separator {
      border-right: 4px solid black;
      height: 100%;
      margin: 0.5rem;
    }

    .subtitle {
      font-size: 2rem;
      font-weight: light;
    }
  }

  a {
    .go-back-button {
      background-color: #ffffff;
      color: #000000;
      font-size: 1rem;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      margin-top: 25px;
      transition: background-color 0.3s, color 0.3s, border-radius 0.3s;

      &:hover {
        background-color: black;
        color: white;
        border-radius: 8px;
      }
    }
  }
}
