<!-- password-input.component.html -->
<mat-form-field appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <input
    [type]="isText ? 'text' : 'password'"
    [formControl]="control"
    matInput
  />
  <button mat-icon-button matSuffix (click)="hideShowPass()">
    <mat-icon>{{ isText ? off : on }}</mat-icon>
  </button>
  <mat-error *ngIf="control.dirty && control.invalid">
    <ng-container
      *ngIf="control.errors?.['required']; else passwordOtherErrors"
    >
      {{ control.errors?.['required'] }}
    </ng-container>
    <ng-template #passwordOtherErrors>
      <ng-container
        *ngIf="control.errors?.['passwordLength']; else passwordNumberError"
      >
        {{ control.errors?.['passwordLength'] }}
      </ng-container>
      <ng-template #passwordNumberError>
        <ng-container
          *ngIf="control.errors?.['passwordNumber']; else passwordSpecialError"
        >
          {{ control.errors?.['passwordNumber'] }}
        </ng-container>
      </ng-template>
      <ng-template #passwordSpecialError>
        <ng-container *ngIf="control.errors?.['passwordSpecial']">
          {{ control.errors?.['passwordSpecial'] }}
        </ng-container>
      </ng-template>
    </ng-template>
  </mat-error>
</mat-form-field>
